<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>

<title>ECƒTƒCƒg</title>
</head>
<body>

<header>
	<h1>My EC Site -- Admin page</h1>
</header>

<div id="adminPage">
	<h2>¤•i@V‹K“o˜^</h2>
	<form name="addGoodsForm" id="addGoodsForm" method="post" 
	action="/ecsite/admin/addGoods" th:action="@{/ecsite/admin/addGoods}">
	<p>¤•i–¼<input type="text" name="goodsName" /></p>
	<p>‰¿Ši<input type="text" name="price" /></p>
	<button type="submit">“o˜^</button>
	<input type="hidden" name="userName" th:value="${userName}" />
	<input type="hidden" name="password" th:value="${password}" />
</form>	
</div>
	

</body>
</html>